 # Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
env/
venv/

# Ignore database files
*.sqlite3
*.mysql
*.db

# Ignore logs
*.log

# Ignore media and uploads
media/
uploads/

# Ignore secret files
.env

# Ignore IDE/editor files
.vscode/
*.iml
.idea/
*.sublime-workspace
